html {
    height: 100%;
    overflow-y: visible; 
}
body {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body:before, body:after {
    width: 100%;
    position: static;
    content: normal;
}
h3 {
    margin: 0;
}
.page-back {
    padding: 80px 0;
    min-height: 100%;
    overflow: hidden;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
}
.login-page .login-form-div {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    box-shadow: 0 1px 5px 0px #333;
    background: #29485f;
}
.login-header {

}
.login-page .bblue{
background: rgba(0, 0, 0, 0) linear-gradient(to left, rgb(98, 188, 189), rgb(78, 181, 167), rgb(83, 222, 194)) repeat scroll 0% 0% !important;
}
.login-content .icheckbox_square-blue {
    background-color: #172f3f;
}
.legal {
    color: #fff;
    font-size: 11px;
    text-align: center;
    border-top: 1px solid #213d51;
    padding: 8px 8px 5px 8px;
}
.btn-login {
    width: 100%;
}
.login .icheckbox_square-blue, .iradio_square-blue {
    background: #172f3f url(../images/bluerer.png) no-repeat;
}
.login  .icheckbox_square-blue.checked {
    background-position: -24px 0;
}
.textbox-wrap.form-group.active  .input-group-addon,
.textbox-wrap.form-group.active .form-control {
    border-color: #1caf9a;
}
.textbox-wrap.form-group.active  .input-group-addon {
    background-color: #1caf9a;
    color: #fff;
}
form.login .form-group .form-control {
    box-shadow: unset !important;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    transition: none;
}
form.login .input-group {
    background-color: #172f3f;
}
.login-page .login-content, .login-page .reg-content {
    padding-bottom: 20px;
}
.login-page .div-title {
    margin: 10px 0;
}
.login-page .input-group .input-group-addon {
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}


form.login .form-group .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
form.login .form-group .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
form.login .form-group .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
form.login .form-group .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
form.login .form-group .form-control::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}


.login-page .custom-checkbox {
    float: left;
}
.login-page .checkbox {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 6px;
    padding-left: 1px;
}
.login-page .checkbox-text {
    line-height: 22px;
}
.login-page .checkbox label {
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 0px;
    margin-top: 0;
    color: #fff;
}
.login-form-div .text-danger.forgot_password_link {
    color: #fff;

}

#forgot_password .login p {
	color: #fff;
	margin-bottom: 5px;
	font-size:12px;
}

#forgot_password h3 {
    color: #fff;
    font-weight: bold;
    padding: 15px 0 5px;
}


.btn-login.btn[disabled]{
	opacity: .85;
}
.login-page .input-group .input-group-addon i, .login-page input[type="checkbox"] {
    width: 40px;
}
.login-page .input-group .input-group-addon i {
    padding-left: 10px;
    padding-right: 10px;
}

.login-page .registration-form-action {
    background-color: white;
    padding: 20px;
}
.login-page .registration-form-div {
    max-width: 620px;
    margin: 0 auto;
    width: 100%;
    background: #FFF;
}

.login-page .registration-left-div {
    padding-left: 0;
    padding-right: 0px;
}
.login-page .registration-right-div {
    padding-left: 0;
    padding-right: 0;
}
.login-page .reg-content {
    padding-bottom: 20px;
}
.login-page .btn, .login-page .form-control {
    border-radius: 0;
    height: 45px;
    line-height: 30px;
}
.sign_in {
    text-align: center;
    font-size: 28px;
    line-height: 1.5;
    height: 135px;
    display: table-cell;
    vertical-align: middle;
    width: 380px;
    color: #fff;
    text-shadow: 0px 0px 4px #333;
	    background: url(../images/sign-in-form.png) no-repeat;

}
.login-page .login-content p {
    margin: 0;
}
.login-page .login-form-links {
    padding: 20px;
    margin-top: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background-color: white;
}
.div-captcha-left {
    padding-right: 0;
}
.div-captcha-right {
    padding-left: 0;
}

.field-icon-login {
	color: white;
        float: right;
        margin-left: -25px;
        margin-top: 15px;
        margin-right: 7px;
        position: relative;
        z-index: 2;
}



@media (max-width: 767px) {
    .login-page .registration-left-div {
        padding-right: 0px;
    }
    .login-page .registration-right-div {
        padding-left: 0px;
    }
    .div-captcha-left {
        width: 50%;
        float: left;
    }
    .div-captcha-left img {
        width: 100%;
        height: 34px;
    }
    .div-captcha-right {
        width: 50%;
        float: left;
    }
}