@charset "utf-8";
/*
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.ttf')  format('truetype'),
  url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

/*Genarel Style*/

body {
    font: 16px/20px MyriadPro-Regular,Helvetica, Arial, sans-serif;
    color: #565656;
}
img{max-width:100%;}
.c-center {
    text-align: center;
}
.no-padding {
    padding: 0;
}
.header {
    /* background-image: url(../images/bg-header.png); */
    /* background-repeat: repeat-x; */
}
.header .c-center {}
#container {
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
    width: 580px;
    /*max-width: 100%;*/
    margin: 15px auto;
    background-color: #fff;
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-x;
    overflow: hidden;
}
.footer {
    background-image: url(../images/bg_footer.png);
    background-size: 95% auto;
    background-position: center bottom;
    /*padding-top: 10px;*/
    background-repeat: no-repeat;
    margin-bottom: 15px;
    padding: 0 5% 0;
    height: 300px;
}
.logo {
    margin-top: 0px;
    max-height: 80px;
}
.logo2{
	margin-top: 0px;
    max-height: 80px;

}

.detail-profile strong {
    width: 150px;
    display: inline-block;
}
/*div#avatar {*/
    /*display: inline-block;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
    max-width: 200px;
    margin-top: 55px;
    border-radius: 50%;
    margin-bottom: -80px;
    margin-left: -25px;*/


    /*display: block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: solid 1px #fff;
    border-radius: 50%;
    border: 2px solid #e6e6e6;

    margin-top: 55px;
    margin-bottom: -80px;
    margin-left: 45px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.35);*/


/*}*/
/*.avatar {*/
    /*width: 175px;*/
    /*height: 175px;*/





    /*border: 2px solid #e6e6e6;*/
    /*border-radius: 50%;*/
    
    /*max-width: 230px;
    min-width: 200px;
    min-height: 200px;*/


   /* max-width: 170px;
    min-width: 170px;
    min-height: 170px;
    border: 2px solid #e6e6e6;*/
/*}*/

#avatar{
    display: inline-block;
    width: 175px;
    height: 175px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
    background-color: #fff;
    border-radius: 50%;

    margin-top: 55px;
    border-radius: 50%;
    margin-bottom: -80px;
}
#avatar img{
    width: 175px;
    height: 175px;
  padding: 5px;
  object-fit: cover;
  border-radius: 50%;
}

/*.user_user {
	
    background: url(../images/icon_user.png) no-repeat left center;
}
.user_id {
	
    background: url(../images/icon_id.png) no-repeat left center;
}*/
.user_phone{
	margin-top: 30px;
    background: url(../images/icon_phone.png) no-repeat center;
        height: 60px;
        padding: 0px;
}
.user_line{
	margin-top: 30px;
    background: url(../images/icon_line.png) no-repeat center;
        height: 60px;
        padding: 0px;
}
.user_facebook{
	margin-top: 30px;
    background: url(../images/icon_facebook.png) no-repeat center;
        height: 60px;
        padding: 0px;
}
.user_instagram{
	margin-top: 30px;
    background: url(../images/icon_ig.png) no-repeat center;
        height: 60px;
        padding: 0px;
}

.user_phone p{
    text-align: center;
    padding-top: 75px;
}
.user_line p{
	text-align: center;
    padding-top: 75px;
}
.user_facebook p{
	text-align: center;
    padding-top: 75px;
    word-wrap: break-word;
}
.user_instagram p{
	text-align: center;
    padding-top: 75px;
}

#contact > div {
	
    padding-left: 50px;
    background-size: 40px auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
}
.contact img{
	width: 65%;
    margin: -50px 20px 0;
}
#contact .input {
    /*width: 100%;*/
    /*height: 35px;
    border-radius: 6px;
    border: 1px solid #ef7db0;
    background-color: rgba(239,125,176,.2);
    padding: 3px 5px;
    margin: 0;
    font-weight: 500;
    line-height: 1.7;*/
}
.detail-profile {
    list-style: none;
    padding: 0 0 140px;
}
.detail-profile li {
    font-weight: bold;
}
.detail-profile li strong {
    color: #f02375;
    font-size: 16px;
    line-height: 1.7;
}
.footer .user_user{
	margin-top: 25px;
    text-align: center;
    background-color: #4d4d4d;
    padding: 10px 0px;
    color: white;
    border-radius: 10px;
    font-size: 25px;
}
.footer .user_id{
	text-align: center;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 25px;
}

/*@media only screen and (max-width: 600px) {
    footer.footer div.row{
        margin-left: -225px;
    }
    #contact > div {
        margin-left: 188px;
    }
    #contact .input{
        text-align: left;
        width: 150px;

    }
    ul, ol {
        margin-top: 0;
        margin-bottom: 70px;
    }
    .no-padding{
        text-align: center;
        margin-left: 15px:
        margin-top: 15px;
    }
    }*/

    @media only screen and (max-width: 600px) {
    .c-center{
         text-align: left;
         margin-left: 10px;
     }

     #contact > div {
        margin-left: 250px;
    }
    div#contact {
        margin-top: -170px; 
    }
    .detail-profile li{
        font-weight: bold;
        margin-left: 250px; 
    }
    .contact img{
		width: 65%;
	    margin: -50px 20px 0;
	}

}

 @media only screen and (max-width: 768px) {
   .c-center{
         text-align: left;
         margin-left: 10px;
     }

     #contact > div {
        margin-left: 250px;
    }
    div#contact {
        margin-top: -170px; 
    }
    .detail-profile li{
        font-weight: bold;
        margin-left: 250px; 
    }
    .contact img{
		width: 30%;
	    margin: -220px 325px 0;
	}
	div#avatar {
	    margin-left: 40px;
	}
}